ul li {
	display: inline-block;
}

.slide-fade-enter {
	opacity: 0;
	transform: translateX(10px);
}

.slide-fade-leave-to {
	opacity: 0;
	transform: translateX(10px);
}

.slide-fade-enter-active {
	transition: 0.5s ease;
}

.slide-fade-leave-active {
	transition: 0.5s ease;
}

/*.slide-fade-leave-to {
    opacity: 0;
}*/

/* Determines how long the animation will take */
/*.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: 0.5s ease;
}*/